<launch>
    <node name="data_getter" pkg="dataglove" type="data_getter.py" output="screen"/>
    <!-- publisher: takes the data stream from the glove and publishes it as a ROS topic. -->
    <node name="data_printer" pkg="dataglove" type="data_printer.py" output="screen"/> 
    <!-- temporary subscriber: takes the data stream from the glove and prints it to the screen. -->
    
    
    <!-- <node name="sub_glove" pkg="dataglove" type="event_classifier" output="screen"/>  -->
    <!-- subscriber: takes as input the data stream (time series?) from the glove and classifies it into events (e.g., pinch, grasp, etc.). -->
</launch>